.contact {
    background-color: #ECDD7B;
    .section {
        margin-top: 140px;
        @include media-breakpoint-down(md){
            margin-top: 80px;
        }
    }
    .header {
        .nav-link {
            background-color: rgba(255, 255, 255, 0.377);
            &:hover {
              color: black !important;
            }
          }
          
    }
    .hero-row {
        margin: 50px 0px;
        justify-content: center;
        .hero-content {
            h1 {
                margin: 45px 0px;
            }
            .img-wrapper {
                width: 100%;
                max-width: 250px;
                display: flex;
                justify-content: center;
                margin: 40px auto 0;
            }
        }
        .form-column {
            margin-top: 45px;
            display: flex ;
            justify-content: center;
        }
        .content-col {
            @include media-breakpoint-down(md){
                text-align: center;
            }
        }
        @include media-breakpoint-down(sm){
            flex-direction: column;
        }
    }
}