.contact {
    .hero-row {
        justify-content: space-around;
        margin: 50px 0px;
        .hero-content {
            h1 {
                margin: 45px 0px;
            }
        }
        .form-column {
            margin-top: 45px;

        }
    }
}