.home {
    .hero-section {
        position: relative;
        padding: 180px 0px 193px;
        overflow: hidden;
        background-color: $light-blue;
        text-align: center;
        @include media-breakpoint-down(md) {
          padding-top: 100px;
        }
        .title-row {
            h1 {
                @include fluid-font(45px, 96px);
                font-weight: 800;
                font-family: $font-family-sans-serif;
                margin: 0 auto;
            }
            .hero-content {
                padding: 40px 0px;
            }
        }
        .content-row{
          text-align: left;
          margin-top: 180px;
          p {
              font-size: 24px;
            font-weight: 800;
            color: $white;
          }
        }
        .cta-row {
            margin-top: 150px;
            justify-content: center;
            text-align: center;
            .link-wrapper {
                &:hover {
                    animation: bounce .5s infinite alternate;
                    @keyframes bounce { 0% { transform: translateY(0); } 100% { transform: translateY(-30px); } }
                 }
              
            }
          a {
              width: 100%;
              height: 100%;
              max-height: 30px;
              max-width: 45px;
              font-size: 24px;
              font-family: $font-family-alt;
              text-decoration: underline;
              font-weight: 800;
              padding: 2px;
              color: $white;
              position: relative;
              &::after {
                border-style: solid;
                border-width: 2px 2px 0 0 !important;
                content: '';
                display: inline-block;
                height: 12px;
                width: 12px;
                top: 40px;
                left: -25%;
                
                position: relative;
                transform: rotate(135deg);
              }
          
          }
        } 
    }
    .about-section {

      text-align: center;
      padding: 80px 0px;
      position: relative;
      .about-row {
        justify-content: center;
      }
      h3 {
        margin-bottom: 30px;
      }
      .box {
        background-color: transparent;
        position: absolute;
        display: none; 
        @include media-breakpoint-down(md) {
          display: none !important;
        }

      }
      #box-one {
        left: -15%;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-size: 24px;
          font-weight: 700;
          color: $light-blue;
        }
      }
      #box-two {
        left: -15%;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-size: 20px;
          font-weight: 700;
          color: $light-blue;
        }
      }
      #box-three {
        right: -15%;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-size: 24px;
          font-weight: 700;
          color: $light-blue;
        }
      }
      #box-four {
        right: -15%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          max-width: 100px;
        }
      }
      #box-five {
        right: -15%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          max-width: 50px;
        }
        span {
          font-size: 32px;
          font-weight: 700;
          color: $purple-brown;
        }
      }
      #box-six {
        left: -15%;
        height: 67.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-size: 36px;
          font-weight: 700;
          color: $sunflower-yellow-two;
          border: solid 3px $sunflower-yellow-two;
          background-color: $brown-grey;
          padding: 0px 10px;
        }
      }
    }
    .experience-section {
        padding: 40px 0px;
        background-color: #f4f4f4;
        .title-row {
            text-align: center;
            margin: 80px 0;
        }
        .feature-row {
            justify-content: center;
            .feature-col {
                margin: 0 15px 50px 15px;
                padding-top: 15px;
                padding-bottom: 15px;
                background-color: #ffffff;
            }
            .feature-box {
                height: 100%;
                display: flex;
                flex-direction: column;
            
            }
            h3 {
                margin-top: 20px;
            }
            p {
                margin: 15px 0px;
            }
            a {
                font-size: 14px;

            }
            img {
                width: 100%;
                max-width: 400px;
                margin: 5px auto ;
                @include media-breakpoint-down(md) {
                  max-width: 350px;
                }
                @include media-breakpoint-down(sm) {
                  max-width: 315px;
                }

            }
        }
        .fade-in-1 {
            animation: fadeIn ease 7s;
            -webkit-animation: fadeIn ease 7s;
            -moz-animation: fadeIn ease 7s;
            -o-animation: fadeIn ease 7s;
            -ms-animation: fadeIn ease 7s;
            img {
                box-shadow: 0px 8px 8px 0px;
            }
     
          }

          .fade-in-2 {
            animation: fadeIn ease 9s;
            -webkit-animation: fadeIn ease 9s;
            -moz-animation: fadeIn ease 9s;
            -o-animation: fadeIn ease 9s;
            -ms-animation: fadeIn ease 9s;
            img {
                box-shadow: 0px 8px 8px 0px;
            }
          }

          .fade-in-3 {
            animation: fadeIn ease 11s;
            -webkit-animation: fadeIn ease 11s;
            -moz-animation: fadeIn ease 11s;
            -o-animation: fadeIn ease 11s;
            -ms-animation: fadeIn ease 11s;
            img {
                box-shadow: 0px 8px 8px 0px;
            }
          }

          .fade-in-4 {
            animation: fadeIn ease 13s;
            -webkit-animation: fadeIn ease 13s;
            -moz-animation: fadeIn ease 13s;
            -o-animation: fadeIn ease 13s;
            -ms-animation: fadeIn ease 13s;
            img {
                box-shadow: 0px 8px 8px 0px;
            }
          }

          @keyframes fadeIn {
            0% {
              opacity:0;
            }
            33% {
                opacity: 0;
            }
            100% {
              opacity:1;
            }
          }
          
          @-moz-keyframes fadeIn {
            0% {
              opacity:0;
            }
            33% {
                opacity: 0;
            }
            100% {
              opacity:1;
            }
          }
          
          @-webkit-keyframes fadeIn {
            0% {
              opacity:0;
            }
            33% {
                opacity: 0;
            }
            100% {
              opacity:1;
            }
          }
          
          @-o-keyframes fadeIn {
            0% {
              opacity:0;
            }
            33% {
                opacity: 0;
            }
            100% {
              opacity:1;
            }
          }
          
          @-ms-keyframes fadeIn {
            0% {
              opacity:0;
            }
            33% {
                opacity: 0;
            }
            100% {
              opacity:1;
          }
        }
    }
}
  