.home {
    .hero-section {
        text-align: center;
        padding-top: 140px;
        padding-bottom: 100px;
        .hero-content {
            padding: 40px 0px;
        }
    }
    .about-section {
        
    }
}