.javascript {
    .header {
        .nav-link {
            color: black;
            background-color: rgba(216, 214, 214, 0.562) !important;
            &:hover {
              color: white !important;
            }
          }
          
    }
    background-color: #f4f4f4;
    .hero-section {
        text-align: center;
        padding: 120px 0px 40px;
        .content-col {
            margin: 0 auto;
        }
    }
    .project-section {
        .project-one{
            background-color: black;
        }
        #clock {
            font-family: $font-family-alt;
            color: #66ff99;
            font-size: 56px;
            text-align: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }

}