.music {
    .song-section {
        padding: 10% 0 0;
        background-color: $light-blue-grey;
   
        .song-row {
            justify-content: center;
            position: relative;
            .heading-col {
                text-align: center;
                h2 {
                    margin: 15px 0px;
                    font-weight: 600;
                    @include fluid-font(32px, 72px);
                }
                p {
                    @include fluid-font(24px, 46px);
                }
            }
        }
        .media-player {
            width: 100%;
            padding: 30px;
            border-radius: 20px 20px 0 0;
            background-color: $bittersweet;
            box-shadow: 0px 8px 8px 0px;
            position: relative;
            p {
                @include fluid-font(24px, 42px); 
                font-weight: 400;
                margin-bottom: 60px;
                @include media-breakpoint-down(sm){
                    margin-bottom: 20px;
                }
            }
            .spokes {
                width: 100%;
                height: 100%;
                max-width: 150px;
                max-height: 150px;
                border-radius: 50%;
                background-color: white;
                position: absolute;
                padding: 70px;
                top: 70%;
                &:nth-of-type(1){
                    right: 13%
                }
                &:nth-of-type(2){
                    left: 13%;
                }
                @include media-breakpoint-down(md) {
                    &:nth-of-type(1){
                        right: 8%
                    }
                    &:nth-of-type(2){
                        left: 8%;
                    }
                  }
                @include media-breakpoint-down(sm) {
                    &:nth-of-type(1){
                        display: none;
                    }
                    &:nth-of-type(2){
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                    }
                  }

            }
            .track {
                margin: 0 30% 0;
                width: 40%;
                @include media-breakpoint-down(sm){
                    margin: 0 auto;
                    width: 75%;
                    &:last-of-type {
                        margin-bottom: 100px;
                    }
                }
            }
            .songtitle,
            .songwriter {
                color: white;
            }
            .albumtrack{
                visibility: visible !important;
                .mejs-controls,
                .mejs-container{
                    border-radius: 20px 0 0 20px!important;
                }
            } 
            .audioalbum {
                text-align: center;
                background-color: white;
                width: 100%;
                font-weight: 400;
                background-image: linear-gradient($light-blue-grey .1em, transparent .1em);
                background-size: 100% 1.2em;
                font-family: $font-family-cursive;
                  
            }
           
        
        }
    }
    .footer {
        position: relative; 
        bottom: 0;
    }
}