.resume {
    .row {
        justify-content: center;
        .resume-col {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
        h1 {
            margin: 50px 0;
        }
        h3 {
            margin-bottom: 50px;
        }
        img {
            max-width: 75%;
        }

    }
}